header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #262626;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo {
  width: 120px;
  object-fit: contain;
  margin-right: 8px;
}
