.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  max-width: 100%;
  padding: 24px;
  border: 1px solid #1b1b1b;
  border-radius: 16px;
  text-align: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-type {
  padding: 8px;
  font-size: 24px;
  font-weight: 800;
}

.product-name {
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
}

.product-rate {
  padding: 8px;
  font-size: 56px;
  font-weight: 900;
}

@media (min-width: 1024px) {
  .product-card {
    max-width: 320px;
    min-height: 360px;
  }
}
