.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 320px;
  min-height: 360px;
  padding: 24px;
  border: 1px solid #1b1b1b;
  border-radius: 16px;
  text-align: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-type {
  padding: 8px;
  font-size: 24px;
  font-weight: 800;
}

.product-name {
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
}

.product-rate {
  padding: 8px;
  font-size: 56px;
  font-weight: 900;
}

.button-loader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
