.hamburger-button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.hamburger-icon {
  width: 100%;
  height: 100%;
  color: #000;
}
