.custom-btn {
  min-height: 48px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border: 1px solid #737373;
  border-radius: 12px;
  cursor: pointer;
}

.custom-btn:hover:not(:disabled) {
  background-color: #000;
  color: #fff;
}

.custom-btn:disabled {
  background-color: #eee;
  border-color: #ccc;
  cursor: default;
}
