.table-container {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  background: white;
  border: 1px solid #000;
}

.table {
  display: grid;
  width: 100%;
}

.table-cell {
  display: grid;
  align-items: center;
  min-height: 70px;
  padding: 12px 16px;
  border-bottom: 1px solid #000;
  overflow: hidden;
  text-align: left;
}

.header-cell {
  font-weight: 800;
}
