select,
::picker(select) {
  appearance: base-select;
}

select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

option {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 8px;
}

option::checkmark {
  display: none;
}

option:checked {
  background-color: #ddd;
}

option:hover {
  background-color: #ccc;
}
