.application-form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 360px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #1b1b1b;
  border-radius: 16px;
  text-align: left;
}

.application-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.application-form-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.application-form-actions {
  margin-top: 24px;
}
